body {
  text-align: center;
}

/*.modal_background {
  /*<!--https://matthewcranford.com/memory-game-walkthrough-part-7-making-a-modal/-->*/
/*  position: absolute;
  top: 0;
  left: 0;
  height: 100% width: 100% background: rgba(0, 0, 0, 0.438);
}

.modal_body {
  position: relative;
  width: 400px;
  border-radius: 5px;
  transform: translate(120%, 70%);
  background: #ffffff;
}

.modal_heading {
  display: flex;
  color: blue;
  text-align: center;
  padding: 0 1.5rem;
  border-bottom: 1px solid green;
}

.modal_title {
  transform: translate(60%, 50%);
}

.modal_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid blue;
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.modal_btn {
  width: 60px;
  height: 30px;
  border-color: green;
  border-radius: 3px;
}

.hide {
  display: none;
}/*
